@use "@angular/material" as mat;
@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.


// ###########################################
// ########################################### NE PAS CHANGER CES DEUX LIGNES SUIVANTES SANS PRÉVENIR VINCENT !
// ########################################### Elles sont importantes pour le branding.
// ###########################################

$test-app-primary: mat.define-palette(mat.$blue-grey-palette);
$test-app-accent:  mat.define-palette(mat.$blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test-app-warn:    mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$test-app-theme: mat.define-light-theme($test-app-primary, $test-app-accent, $test-app-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test-app-theme);

.mat-mdc-select, .mat-mdc-select-panel, .mat-mdc-option, .mat-mdc-form-field, .mdc-form-field, .mat-mdc-floating-label,
.mdc-button, .mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text,
.mat-mdc-form-field-hint {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: inherit;
}

.mat-mdc-form-field-hint {
  font-size: small;
  font-family: Nunito Sans, sans-serif;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: inherit;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix {
  //padding-top: 8px;
}

.mdc-text-field {
  padding: 0;
}

.mdc-tab {
  letter-spacing: normal;
}

.mat-mdc-form-field-icon-suffix {
  z-index: 0;
}
